{% extends "layout.html" %}
{% block content %}


<div class="bg-gray-900 flex justify-center items-center h-screen">

<div class="w-1/2 h-screen hidden lg:block">
<img src="../static/images/in_img1.jpg" alt="Placeholder Image" class="object-cover w-full h-full">
</div>

<div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2 ">
  <h2 class="text-4xl font-bold mb-10 text-white">Welcome to InfluencerSpot</h2>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="rounded mb-2 {% if category == 'success' %}bg-green-500{% elif category == 'error' %}bg-red-500{% else %}bg-yellow-500{% endif %} text-white">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<h1 class="text-2xl font-semibold mb-4 text-gray-200">Login</h1>
<form action="" method="POST">

  <div class="mb-4">
    <label for="username" class="block mb-2 text-gray-100">Username</label>
    <input type="text" id="username" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Username" autocomplete="off">
  </div>

  <div class="mb-4">
    <label for="password" class="block mb-2 text-gray-100">Password</label>
    <input type="password" id="password" name="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autocomplete="off">
  </div>
 
  <button type="submit" class="mt-5 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full">Login</button>
</form>

<div class="mt-6 flex space-x-3 ">
  <a href='/influencer_reg'  class="text-center bg-pink-600 hover:bg-pink-800 text-white font-semibold rounded-md py-2 px-4 w-full">Influencer Register</a>
  <a href="/sponsor_reg" class= "text-center bg-blue-800 hover:bg-blue-900 text-white font-semibold rounded-md py-2 px-4 w-full">Sponsor Register</a>

</div>
<a href='/admin'>admin</a>
</div>
</div>
{% endblock  %}